<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
            rel="stylesheet"
        />

        <title>Travel App</title>
    </head>
    <body>
        <header><img id="travel-img" /></header>
        <main>
            <img id="logo" src="../media/logo.svg" alt="travel planner app" />

            <section id="search">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input
                        id="place-txt"
                        type="text"
                        name="input"
                        value=""
                        placeholder="Where is your next trip?"
                    />
                    <input
                        type="date"
                        id="travel-date"
                        name="date"
                        min="2021-10-20"
                    />
                    <input
                        id="submit-btn"
                        type="submit"
                        name=""
                        value="Let's go!"
                        onclick="return Client.handleSubmit(event)"
                        onsubmit="return Client.handleSubmit(event)"
                    />
                </form>
            </section>

            <section id="result">
                <section id="trip">
                    <span id="error-msg"></span>
                    <h2 id="place-txt"></h2>
                    <h3 id="date-txt"></h3>
                    <h4 id="days-left-txt"></h4>
                </section>

                <section id="packing-list">
                    <h3>Add a packing list:</h3>
                    <ul id="list"></ul>

                    <form id="todo">
                        <input id="todo-input" type="text" onsubmit="" />
                        <input id="todo-submit" type="submit" onclick="" />
                    </form>
                </section>
            </section>
        </main>
        <!-- 
        <div class="container">
            <h1>Weather Journal App</h1>

            <div class="form">
                <label for="zip">Enter zip code here:</label>
                <input type="text" id="zip" placeholder="enter zip code here" />
                <span id="caption" class="text_small"></span>
                <br />
                <label for="feelings">How are you feeling today?</label>
                <textarea
                    class="myInput"
                    id="feelings"
                    placeholder="Enter your feelings here"
                    rows="3"
                ></textarea>
                <br />
                <button id="generate" type="submit">Generate</button>
            </div>

            <div id="entryHolder">
                <div class="text-small">Most Recent Entry</div>
                <div id="city"></div>
                <img id="icon" />
                <div id="temp"></div>
                <div id="date"></div>
                <div id="content"></div>
            </div>
        </div> -->
    </body>
</html>
