<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
            rel="stylesheet"
        />

        <title>Travel App</title>
    </head>
    <body>
        <header><img id="travel-img" src="" /></header>
        <main>
            <img src="" alt="travel planner app" />

            <section id="search">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input
                        id="place-txt"
                        type="text"
                        name="input"
                        value=""
                        placeholder="Where is your next trip?"
                    />
                    <input type="date" id="travel-date" name="date" />
                    <input
                        type="submit"
                        name=""
                        value="Let's go!"
                        onclick="return Client.handleSubmit(event)"
                        onsubmit="return Client.handleSubmit(event)"
                    />
                </form>
            </section>
        </main>

        <div class="container">
            <h1>Weather Journal App</h1>

            <div class="form">
                <label for="zip">Enter zip code here:</label>
                <input type="text" id="zip" placeholder="enter zip code here" />
                <span id="caption" class="text_small"></span>
                <br />
                <label for="feelings">How are you feeling today?</label>
                <textarea
                    class="myInput"
                    id="feelings"
                    placeholder="Enter your feelings here"
                    rows="3"
                ></textarea>
                <br />
                <button id="generate" type="submit">Generate</button>
            </div>

            <div id="entryHolder">
                <div class="text-small">Most Recent Entry</div>
                <div id="city"></div>
                <img id="icon" src="" />
                <div id="temp"></div>
                <div id="date"></div>
                <div id="content"></div>
            </div>
        </div>
    </body>
</html>
