<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
            rel="stylesheet"
        />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
            integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>

        <title>Travel App</title>
    </head>
    <body>
        <header><img id="travel-img" /></header>
        <main>
            <img id="logo" src="../media/logo.svg" alt="travel planner app" />

            <section id="result">
                <section id="trip">
                    <h2 id="place-txt"></h2>
                    <h3 id="date-txt"></h3>
                    <p id="days-left-txt"></p>
                    <br />
                    <h4 id="weather-txt"></h4>
                    <p id="min-max-txt"></p>
                    <p id="condition-txt"></p>
                    <img id="weather-icon" />
                </section>
            </section>

            <section id="packing-list">
                <h3>Add a packing list:</h3>
                <ul id="list"></ul>

                <form id="todo">
                    <input
                        id="todo-input"
                        type="text"
                        onsubmit="Client.addToList(event)"
                    />
                    <input
                        id="todo-submit"
                        type="submit"
                        onclick="Client.addToList(event)"
                    />
                </form>
            </section>

            <section id="search">
                <span id="another-txt"></span>
                <form onsubmit="return Client.handleSubmit(event)">
                    <input
                        id="place"
                        type="text"
                        name="input"
                        value=""
                        placeholder="Where is your next trip?"
                    />
                    <input
                        type="date"
                        id="travel-date"
                        name="date"
                        min="2021-10-20"
                    />
                    <input
                        id="submit-btn"
                        type="submit"
                        name=""
                        value="Let's go!"
                        onclick="return Client.handleSubmit(event)"
                        onsubmit="return Client.handleSubmit(event)"
                    />
                </form>
                <span id="error-msg"></span>
            </section>
        </main>
    </body>
</html>
